@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color:#000000;
}
.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .title-bar-wrapper {
  border: 0px none;
  height: 89px;
  width: 1441px;
}

.box .title-bar {
  height: 89px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1441px;
}

.box .overlap {
  height: 89px;
  position: relative;
  width: 1443px;
}

.box .continue-top-bar {
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1443px;
}

.box .overlap-group {
  height: 89px;
  position: relative;
  width: 1440px;
}

.box .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.box .rectangle {
  background-color: #ffffff;
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.box .text-wrapper {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 462px;
}

.box .search-bar {
  height: 36px;
  left: 754px;
  position: absolute;
  top: 27px;
  width: 305px;
}

.box .div {
  background-color: #e4e4e4;
  border-radius: 10px;
  height: 36px;
  position: relative;
  width: 303px;
}

.box .p {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.61;
  position: absolute;
  top: 10px;
}

.box .vector {
  height: 17px;
  left: 263px;
  position: absolute;
  top: 10px;
  width: 17px;
}

.box .cart {
  height: 42px;
  left: 1146px;
  position: absolute;
  top: 20px;
  width: 47px;
}

.box .overlap-2 {
  height: 42px;
  position: relative;
  width: 45px;
}

.box .img {
  height: 35px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 35px;
}

.box .ellipse {
  background-color: #009a4c;
  border-radius: 8.5px;
  height: 17px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 17px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: "Microsoft Tai Le-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 9px;
}

.box .sign-in-button {
  height: 36px;
  left: 1266px;
  position: absolute;
  top: 27px;
  width: 96px;
}

.box .overlap-3 {
  background-color: #d9d9d9;
  border-radius: 9px;
  height: 36px;
  position: relative;
  width: 94px;
}

.box .rectangle-2 {
  background-color: #000000;
  border-radius: 9px;
  height: 34px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 92px;
}

.box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Noto Looped Thai-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}


.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .form-wrapper {
  border: 0px none;
  height: 465px;
  overflow-x: hidden;
  width: 973px;
}

.box .form {
  height: 465px;
  left: 0;
  position: fixed;
  top: 0;
  width: 985px;
}

.box .overlap-group {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 0px 28px 7px #00000040;
  height: 465px;
  position: relative;
  width: 973px;
}

.box .devicon-facebook {
  height: 31px;
  left: 729px;
  position: absolute;
  top: 379px;
  width: 31px;
}

.box .overlap {
  background-color: #ea1d25;
  border-radius: 15px;
  height: 44px;
  left: 519px;
  position: absolute;
  top: 296px;
  width: 420px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Cabin-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 87px;
}

.box .div {
  height: 69px;
  left: 519px;
  position: absolute;
  top: 41px;
  width: 177px;
}

.box .h-1 {
  color: #000000;
  font-family: "Noto Looped Thai-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.box .p {
  color: #b5b5b5;
  font-family: "Noto Looped Thai-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
}

.box .text-wrapper-2 {
  color: #ea1d25;
  font-family: "Niramit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 888px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
}

.box .text-wrapper-3 {
  color: #353535;
  font-family: "Noto Looped Thai-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 519px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.82;
  position: absolute;
  top: 178px;
}

.box .line {
  height: 1px;
  left: 519px;
  object-fit: cover;
  position: absolute;
  top: 205px;
  width: 420px;
}

.box .text-wrapper-4 {
  color: #484848;
  font-family: "Noto Looped Thai-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 617px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 383px;
}

.box .devicon-google {
  height: 28px;
  left: 776px;
  position: absolute;
  top: 381px;
  width: 28px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 1); 
  width: 15px;
  height: 15px;
}

.loginBg{
  background-image: url('../assets//svg/ecomBackground.svg');
  background-size: fit;
  background-repeat: repeat;
  background-position: center;
  min-height: 80vh;
}
@font-face {
  font-family: 'NovaThai';
  src: url('../assets/fonts/NotoSansThaiLooped-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'NovaThaiSemiBold';
  src: url('../assets/fonts/NotoSansThaiLooped-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'NovaThaiBold';
  src: url('../assets/fonts/NotoSansThaiLooped-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Nova';
  src: url('../assets/fonts/NovaSlim-Regular.ttf');
  font-display: swap;
}
